node_modules
npm-debug.log*
.pnpm-store

.DS_Store
.vscode/
.idea/

.env
.env.*

**/.dockerignore
**/dist
bootcamp/
staging/
production/
host/
mssql-mcp-node/
build/
coverage/
dist/
dist-ssr/
*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
tmp/
helps/
database/
ci.yml
promote-prod.yml
rollback-prod.yml
deployment/